html, body{
    height: 100%;
    margin: 0;
  }

.calculator{
    width: 480px;
    background: rgb(190, 190, 175);
    margin: 0 auto;
 }

input {
    background-color: white;
    border: 1px solid rgb(173, 169, 169);
    width: 100%;
    text-align: right;
    padding: 15px;
    box-shadow: none;
    font-size: 40;
}

button {
    background: rgba(134, 132, 132, 0.5);
    border: 1px solid rgb(5, 5, 5);
    padding: 15px;
    color: rgb(255, 255, 255);
    border-radius: 2px;
    font-size: 20px;
    cursor: pointer;
}

.calculator-buttons {
    padding: 0px;
    display: grid;
    grid-template: repeat(5, 1fr) / repeat(4, 1fr);
    
}

.operation {
    background-color: #e2a22b;
}

.number {
    background-color: rgb(241, 238, 233);
    color: rgb(2, 2, 2);
}

.equal {
    background-color: rgb(198, 243, 228);
    color: black;
}

.decimal {
    background-color: rgb(198, 243, 228);
    color: black;
}
.clear {
    background-color: rgb(154, 247, 216);
    color: black;
}

.memory {
    background-color: rgb(193, 164, 219);
}

@media screen and (max-width: 400px) {
    .calculator{
        width: 480px;
        height: 100%;
     }
     input {
        height: 32%;
        font-size: 120px;
    }
    .calculator-buttons {
        height: 101%;
        font-size: 120px;
    }
    button {
        padding: 10px;
        font-size: 50px;
    }

}